.env
*.pyc
__pycache__/
.DS_Store
venv/

# Lokale Hilfsskripte – nicht mit ins Repo!

bvv_embed.py

# Office-Dateien und PDFs
*.docx
*.xlsx
*.pdf
*.zip

# Eigene lokale Ordner
Backup/
Handbuch/
docs/
Kalli_BACKUP/
json/
log/
Spielwiese/
events/


# Lokale Embedding-Skripte
embedding/


# Windows-Kram
Thumbs.db
